<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>State History Page</title>
    <style>
        th {
         width: 170px;
        }
        td {color:black; text-align: center; }

        .state-baff9783-84e8-4e01-874b-6fd743b875ad { background-color: #ff1a1a }
        .state-03b2d446-e3ba-4c82-8dc2-a5611fea6e1f { background-color: #ffd9b3 }
        .state-0808344c-454b-4c36-89e8-d7687e692d57 { background-color: #b3d9ff }


    </style>
</head>


<body bgcolor="e6ffff">

<div class="div_state">
    <table align="center" bgcolor=" #000000">
        <tr bgcolor="#ffff66">
            <th>
                Equipment
            </th>
            <th>
                State
            </th>
            <th>
                Date
            </th>
        </tr>


        <tr th:class="'state-'+${item.equipment_state_id}"
            th:each="item: ${lista}"
            th:switch="${item.equipment_state_id.toString()}">
            <td th:text="${item.getEquipment().getName()}"></td>
            <td th:case="baff9783-84e8-4e01-874b-6fd743b875ad" th:text="Stopped"></td>
            <td th:case="03b2d446-e3ba-4c82-8dc2-a5611fea6e1f" th:text="Maintenance"></td>
            <td th:case="0808344c-454b-4c36-89e8-d7687e692d57" th:text="Operating"></td>
            <td th:case="*">Unknown value</td>
            <td th:text="${item.date}"></td>
        </tr>


    </table>
</div>
</body>
</html>
